node_modules

npx sequelize model:create --name User --attributes username:string,email:string,password:string

 npx sequelize migration:create --name AddColoumnRole







 npx sequelize seed:generate --name seedUser
	 npx sequelize seed:generate --name seedProfile
	 npx sequelize seed:generate --name seedImg

