.container-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

/* Kontainer utama untuk form login */
.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 500px;
    min-height: 600px;
    height: 60%;
    background: #2c3e50;
    border-radius: 15px;
    padding: 50px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.profil-img {
    /* background-color: aqua; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    padding: 2rem;
    height: 65%;
    border-radius: 15px;

    
}
.container-card {
    display: flex;
    gap: 1rem;
}
.card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 5%;
    width: fit-content;
    height: fit-content;
    background-color: rgb(181, 180, 180);
}
.card p {
    padding: 0;
    margin: 0;
}
#top-1 {
    order: 2;
}
#top-2 {
    margin-top: 20px;
    order: 1;
}
#top-3 {
    margin-top: 40px;
    order: 3;
}
.form {
    background: transparent;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


/* Header */

header h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 2rem;
    color: #e74c3c;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

header p {
    font-size: 1.2rem;
    color: #bdc3c7;
    margin-bottom: 20px;
}


.input-group {
    text-align: left;
    min-width: 270px;
    margin: 10px 0px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #ecf0f1;
}

.input-group input {
    width: 90%;
    padding: 12px;
    background-color: #34495e;
    border: 2px solid #7f8c8d;
    border-radius: 8px;
    color: #ecf0f1;
    font-size: 1rem;
    outline: none;
}

.input-group input:focus {
    border-color: #e74c3c;
}

/* Tombol login */
button {
    background-color: #e74c3c;
    color: #fff;
    padding: 12px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

/* Footer */
footer {
    margin-top: 30px;
    font-size: 1rem;
    color: #bdc3c7;
}

footer p {
    font-size: 1rem;
}
