<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

<body>
    <div class="background-image">
        <img src="../assets/images/awan_btm.png" alt="awan" id="img-bottom">
        <img src="../assets/images/awan_L.png" alt="awan-small" id="img-left">
        <img src="../assets/images/awan_R.png" alt="awan-small" id="img-right">
        <img src="../assets/images/daun_L.png" alt="daun-left" id="daun-left">
        <img src="../assets/images/daun_R.png" alt="daun-right" id="daun-right">
    </div>


    <div class="main-container">
        <div class="login-board">
            <div class="back-board">
            </div>
            <div class="front-board">
                <div><img src="./assets/images/title.png" alt="" id="title"></div>
                <div class="login-box" id="login-box">
                    <h2>Add new Account</h2>
                    <form action="/register" method="post">
                        <div class="input-group">
                            <label style="margin: 5px;" for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="Masukkan username">
                            <% if (errors) { %>
                                <span class="text-sm text-red-500 ml-2 " style="color: red;"><%= errors[0] %></span>
                              <% } %>
                        </div>
                        <div class="input-group">
                            <label style="margin: 5px;" for="username">email</label>
                            <input type="text" id="username" name="email" placeholder="Masukkan email">
                            <% if (errors) { %>
                                <span class="text-sm text-red-500 ml-2" style="color: red;"><%= errors[1] %></span>
                              <% } %>
                        </div>
                        <div class="input-group">
                            <label style="margin: 5px;;" for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Masukkan password">
                            <% if (errors) { %>
                                <span class="text-sm text-red-500 ml-2" style="color: red;"><%= errors[2] %></span>
                              <% } %>
                        </div>
                        <button style="margin-bottom: 10px;" type="submit" >Add new account</button>
                        
            
                    </form>
                </div>
            </div>
    <script src="./index.js"></script>
</body>

</html>